@import "../css/partials/_vars.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    justify-content: center;
    background-image: url(../images/background1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    main {
        display: flex;

        .contact__form__container {
            display: flex;
            margin: 2rem;
            padding: 2rem;
            width: 100%;
            flex-direction: column;
            background-image: $gradient;
            border-radius: 20px;
        
            div {
        
                label {
                    color: #8cc1d3;
                    font-size: 1.5rem;
                }
        
                input {
                    min-width: 40%;
                }
        
                textarea {
                    height: 20vh;
                }
            }
        
            button {
                min-width: 10%;
                align-self: center;
            }
        }
    }
}

footer {
    display: flex;
    align-items: flex-end;

    p {
        align-self: flex-end;
        color: #ffffff;
    }
}