@import "../css/partials/vars";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 95vh;
    background-image: url(../images/background1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.menu__container {
    display: grid;
    margin: 1rem;
    padding: 1rem;
    justify-items: center;
    align-items: center;
    min-height: 90vh;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "img img turnos   tratamientos"
    "img img contacto nosotros"
    ;
    gap: 2rem;
    background-image: $gradient;
    border-radius: 30px;
    .menu__img {
        grid-area: img;
        display: flex;
        flex-wrap: nowrap;
        height: 100%;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: $gradient;
        border: solid 2px #161616;
        border-radius: 30px;
        &:hover {
        background-position: left;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: $gradient, url(../images/background2.jpg);
        transition: all 1s;
        }
        .menu__img__titulo {
            display: flex;
            flex-wrap: nowrap;
            font-size: 5rem;
            color: #97f7d7;
        }
        
        .menu__img__subtitulo {
            display: flex;
            flex-wrap: nowrap;
            font-size: 2rem;
            color: #ffffff;
            text-align: center;
        }
    }
    a {
        background-image: $gradient;
        border: solid 2px #161616;
        border-radius: 30px;
        &:hover {
            background-image: $gradient, url(../images/background.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            transition: all 1s;
        }
        p {
            color: #8cc1d3;
            font-size: 2rem;
            font-weight: 900;
        }
    }
}

.menu__turnos {
    grid-area: turnos;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.menu__tratamientos {
    grid-area: tratamientos;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.menu__contacto {
    grid-area: contacto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.menu__nosotros {
    grid-area: nosotros;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

footer {
    display: flex;
    align-items: flex-end;

    p {
        align-self: flex-end;
        color: #ffffff;
    }
}

@media (max-width: 850px) {
    .menu__container, .menu__img__titulo, .menu__img__subtitulo {
        display: flex;
        flex-direction: column;
    }
    
    .menu__img {
        height: auto;
        width: 100%;
    }
}