* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu__container {
    display: grid;
    height: 100vh;
    background-color: #02020B;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "img img turnos   tratamientos"
    "img img contacto nosotros"
    ;
}

.menu__img {
    grid-area: img;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-image: radial-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(/images/background2.jpg);
    background-repeat: no-repeat;
    background-size: 185%;
    background-position: center left;
    border-radius: 10px;
}

.menu__img__titulo {
    font-size: 5rem;
    color: #97f7d7;
}

.menu__img__subtitulo {
    font-size: 2rem;
    color: #ffffff;
}

.menu__turnos {
    grid-area: turnos;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.menu__tratamientos {
    grid-area: tratamientos;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.menu__contacto {
    grid-area: contacto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.menu__nosotros {
    grid-area: nosotros;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}