@import "../css/partials/_vars.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url(../images/background1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tratamientos__container {
    margin-top: 2rem;
    margin-left: 3rem;
}