@import "../css/partials/_vars.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: url(../images/background1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tratamientos__container {
    margin-top: 2rem;
    margin-inline: 3rem;
}

.col-md-4 {
    display: flex;
    align-items: center;
    justify-content: center;

    .img-fluid {
        max-height: 80%;
        max-width: 90%;
        border-radius: 5px;
    }
}