body {
    min-height: 100vh;

    main {
        display: flex;

        .contact__form__container {
            display: flex;
            margin: 2rem;
            padding: 2rem;
            width: 100%;
            flex-direction: column;
            background-image: $gradient;
            border-radius: 20px;
        
            div {
        
                label {
                    color: #8cc1d3;
                    font-size: 1.5rem;
                }
        
                input {
                    min-width: 40%;
                }
        
                textarea {
                    height: 20vh;
                }
            }
        
            button {
                min-width: 10%;
                align-self: center;
            }
        }
    }
}