@media (max-width: 850px) {
    body {
        display: flex;
        flex-direction: column;

        .form__container {

            .form__container__1 {
                flex-direction: column;

                input {
                    width: 50% !important;
                }

                .form__phone__caract {
                    width: 30% !important;
                }
            }
        }

        .form__container__2 {
            width: 100%;

            .form-select {
                width: 40% !important;
            }
        }
    }    
}